.main__title {
  color: $primary-color;
}

img {
  max-width: 100%;
  vertical-align: middle;
  &hover {
    opacity: 50%;
  }
}

body {
  background-attachment: fixed;
  background-image: url(../img/fondo.jpg);
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  color: white;
}

.logo {
  margin-left: 0.5rem;
}

.main__title {
  padding: 0.5rem 2rem;
  top: 0;
  margin-bottom: 2rem;
  width: 95%;
  max-width: 1320px;
  margin: 2rem, 0, 0, 2rem;
}

.main__subtitle {
  padding: 0.5rem 2rem;
  top: 0;
  margin-bottom: 2rem;
  width: 95%;
  max-width: 1320px;
  margin: 2rem, 0, 0, 2rem;
}

.footer {
  /*padding-top: 1.5rem;
 
  color: white;
  font-size: 1rem;
  text-align: center;
  padding-bottom: 1.5rem;
  margin: auto;*/
  background-color: rgb(190, 234, 190);
  list-style: none;
  text-align: center;
  color: rgb(255, 255, 255);
}

.link__redes {
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
  color: white;
  &hover {
    color: rgb(9, 62, 11);
  }
}

.form {
  padding-top: 1.5rem;
  font-size: 1rem;
  margin: 0 auto;
  text-align: justify;
}

.btn {
  padding-top: 1.5rem;
  font-size: 1rem;
  margin: 0 auto;
  text-align: center;
  color: green;
  background: transparent;
}
